<div class="card">
        <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <img src="data:image/png;base64,{{product.images}}" class="img-responsive" height="150px"
                        width="200px" alt="Image">
                <p class="card-text "> {{product.description}}</p>
                <p class="card-text"> {{product.price}} €</p>
                <button class="btn btn-primary" style="text-align: right" (click)="addToCart()">Add to cart</button>
                <button class="btn btn-primary" style="text-align: right" (click)="addToCollection()">Add to collection</button>

        </div>
</div>
