<app-navigation></app-navigation>
<br>
<h1>Orders</h1>
<div class="container">
  <br>
  <a routerLink="/home" class="btn btn-primary"><i class="fa fa-angle-left"></i> Continue Shopping</a><br>
  <table id="order" class="table table-hover table-condensed table-borderless" *ngFor="let order of orderList ">
    <thead>
    <tr>
      <th>Id</th>
      <th>TotalAmount</th>
      <th>Note</th>
      <th>CreateTime</th>
      <th>PaymentTime</th>
      <th>DeliveryTime</th>
      <th>ReceiveTime</th>
      <th></th>
    </tr>
    <tr>
      <td>
        {{order.id}}
      </td>
      <td>{{order.totalAmount}}</td>
      <td>{{order.note}}</td>
      <td>{{order.createTime}}</td>
      <td>{{order.paymentTime}}</td>
      <td>{{order.deliveryTime}}</td>
      <td>{{order.receiveTime}}</td>
      <td>
        <button class="btn btn-info btn-sm" (click)="showDetailOrder(order)">Detail</button>
      </td>
    </tr>
      <div *ngIf="order.showDetail">
          <div class="row">
                  <label class="control-label" for="address">Address: {{this.model.address}} </label>
            <label class="control-label" for="city">&nbsp;City:{{this.model.city}} </label>
            <label class="control-label" for="state">&nbsp;State:{{this.model.state}} </label>
            <label class="control-label" for="country"> &nbsp;Country:{{this.model.country}} </label>
            <label class="control-label" for="zipcode"> &nbsp;Zipcode:{{this.model.zipcode}} </label>
            <label class="control-label" for="phoneNumber">&nbsp;PhoneNumber:{{this.model.phoneNumber}} </label>

          </div>
        <div class="container">
            <tr>
              <th>Product</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Subtotal</th>
              <th></th>
            </tr>

            <tr *ngFor="let cart of cartlist">
              <td>
                {{cart.productName}}
              </td>
              <td>{{cart.price | currency:'EUR'}}</td>
              <td>
                    {{cart.quantity}}
              </td>
              <td>
                {{cart.quantity*cart.price | currency:'EUR'}}

              </td>





        </div>

      </div>
    <tr>
      <td *ngIf="order.status==0">
        <button class="btn btn-info btn-sm" (click)="PayOrder(order)">Pay</button>
      </td>
      <td *ngIf="order.status==2">
        <button class="btn btn-info btn-sm" (click)="ComfirmReceive(order)">ComfirmReceive</button>
      </td>
    </tr>




      </thead>
    </table>




</div>
